<!-- HTML page rendering the Monte Carlo Method-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title> Elab|Monte Carlo</title>
		<meta name="description" content="Monte Carlo Method">
        <meta name="author" content="Pedro Rosa and José Carlos">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- External css code-->
        
        {% block styling %}
		<link rel="shortcut icon" type="image/png" href="">
		<link rel="shortcut icon" href="http://e-lab.ist.eu/rec.web/faviconElab.ico">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/elab.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle-button.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tool-bar.css') }}">
		{% endblock %}
		
		
        <!-- javascript-->
        {% block javascript %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src ='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js'></script>
        <script src ='https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js'></script>
        <script src ='https://cdnjs.cloudflare.com/ajax/libs/jquery-replace-text/1.1.0/jquery-replace-text-min.js'></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script> -->
	    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
	    <script src="https://unpkg.com/chartjs-plugin-zoom@1.0.0-beta.1/dist/chartjs-plugin-zoom.min.js"></script>
	    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='config/env.js') }}"></script>
        {% endblock %}

		
    </head>

    <body>
        
        <thead>
            <tr></tr>
                <th  colspan="4">
                    <div class="clearfix float-my-children">
                        <div style="margin-left: 50px;margin-top: 10px;"></div>
                        <img src="http://e-lab.ist.eu/rec.web/javax.faces.resource/elab_logo.png.faces?ln=images" id="logo-elab" >
                        
                        <div style="margin-left: 20px; margin-top: 15px; color:#86b300;">
                           <h2> -Monte Carlo </h2>
                        </div>
                        
                    </div>
                </th>
            </tr>
        </thead> <hr> <br>
        <section class="intro">
           <h2 id="about-the-Monte-Carlo">Estimating pi (π) using Monte Carlo Simulation</h2>
           <p>
            With this <strong>HTML</strong>, you can perform an experiment remotely, that is, without the need to be present physically in the Laboratory. You will use the Monte Carlo Method to estimate the value of Pi. In order to do that, just fill the input with values that you want.
            </br>The main idea behind this method can be found <a href="https://en.wikipedia.org/wiki/Carbon_dioxide_equivalent">here.</a>
           </p> <br> <br>
        
        
        </section>
       
                <label><em style="color:#1a5fb4">Start the experiment</em>:</label>
                <div class="build-box">
                   <label>Radius [ua]:</label>
                   <input id="R" type="text" name="R" value="1"></br>				
                   <label>Iteration:</label>
                   <input id="Iteration" type="text" name="Iteration" value="100"></br>
                </div>
			<div class="sansserif">
                <button id="button_strat_MC" class="btn btn-default" onclick="Start_MonteCarlo()">Start</button>
                <button id="resetBtn"  type="reset" value="Reset" onclick="set_reset()">Reset </button>
		    <hr>
                    <div>
                        <label><em style="color:#1a5fb4">Results of the experiment</em>:</label>  <br> <br>
                        <div style="margin-left: 20px;">
                            <div>
                                <label id="point_in">Points in : </label>
                            </div> </br>
                            <div>
                                <label id="total_point">Total points : </label>
                            </div> </br>
                            <div>
                                <label id="pi">Pi : </label>
                            </div>
                        </div>
                    </div>
                
            <div id='myplot' style="margin-left: 10px; width: 800px; height: 500px;"></div>
                
            	
		
        <footer>
            <p>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">webpage </span>,
                 was first created by
                 <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/PedroRossa98" property="cc:attributionName" rel="cc:attributionURL">Pedro Rosa</a> and improved by 
                 <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/Ze-Veiga98" property="cc:attributionName" rel="cc:attributionURL">José Veiga</a>
            </p>
            <p>
                Source code available on GitHub repo <a href="https://github.com/PedroRossa98/E-lab_New_Communication">PedroRossa98/E-lab_New_Communication</a>.
              </p>
        </footer>

    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/elab.js') }}"></script>
</html>